$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// navigation
@import "_navigation.scss";

// theFooter
@import "_footer.scss";

// css for home.html
@import "_home.scss";

// weatherIcon
@import "_weatherIcon.scss";

// animate.scss
@import "_animate.scss";

// googleMap.scss
@import "_googleMap.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
//Make sure everything in the site is contained
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
//Take out all blue border after clicking on button
button:focus {outline:0;}

