

/* Main marketing message */
.jumbotron {
  width: 102%;
  text-align: center;
  .btn {
    font-size: 200%;
    padding: 14px 24px;
  }
  @media screen and (max-width: $screen-sm-min) {
    margin-bottom: 10px;
  }
}
.greeting {
  color: white;
  text-align: left;
  padding-left: 15px;
  margin: 25% 0;
  @media (max-width: 400px) {
    text-align: center;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* weather display */
#weatherBox {
  /* let weatherLocation locates itself */
  position: relative;
  width: 250px;
  background: rgba(255, 255, 255, 0.8);
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  border: none;
  @media (min-width: $screen-sm-min) {
    margin: 5px 10%;
  }
}
/* weather location */
.weatherLocation {
  position: absolute;
  left: 0;
  top: -90px;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  border-radius: 50px;
  @media (min-width: $screen-sm-min) {
    left: -100px;
    top: 15%;
    width: 100px;
    height: auto;

  }
  h2 {
    font-size: 500%;
    color: white;
    margin: 5px;
  }
}
/* A toggle button that let users switch between weather now and forecast*/
#weatherTimeBtn {
  position: absolute;
  top: -45px;
  right: 0;
  font-size: 100%;
}

#temperature {
  font-size: 400%;
  font-weight: bolder;
  color: black;
}
/* This box includes weatherIcon and weatherDescription */
.weatherConditionBox {
  display: table;
  width: 100%;
  height: 100px;
  p {
    color: black;
  }
}
#weatherIcon {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  line-height: 0;  
}

#weatherDescription {
  display: table-cell;
  vertical-align: middle;
  font-size: 200%;

}
