

/* Main marketing message */
.jumbotron {
  text-align: center;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  @media screen and (max-width: $screen-sm-min) {
    margin-bottom: 10px;
  }
}
.greeting {
  color: white;
  text-align: left;
  padding-left: 15px;
  margin: 25% 0;
  @media (max-width: 400px) {
    text-align: center;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* weather display */
#weatherBox {
  /* let weatherLocation locates itself */
  position: relative;
  width: 250px;
  background: rgba(255, 255, 255, 0.8);
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  border: none;
}

.weatherLocation {
  position: absolute;
  left: 0;
  top: -50px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  h2 {
    color: white;
    margin: 5px;
  }
}

#weatherTimeBtn {
  position: absolute;
  top: -45px;
  right: 0;
  font-size: 20pt;
}

#temperature {
  font-size: 3.2em;
  font-weight: bolder;
}
