<div ng-app="mapsApp" ng-controller="MapCtrl">
    <div id="map"></div>
    <button title="定位(解除瀏覽器的封鎖才可以使用喔)" type="button" id="geolocate" class="geolocateBtn"
    ng-click="geolocate()">
    	<span class="glyphicon glyphicon-screenshot"></span>
    </button>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>
<!--<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id = "myMap"></div>
<button id = "locateBtn" class = "Btn">我在哪？</button>-->