<div class="jumbotron">
  <div class="greeting">
    <h1>找場，找朋友，打球</h1>
    <p class="lead">有這麼難嗎？</p>
    <button type="button" class="btn btn-primary">走啊</button>
  </div>
</div>
<div class="row">
  <div class="leftContainer col-sm-12 col-md-6 col-lg-3">
    <div id="weatherBox"class="panel panel-primary" ng-controller="weatherController as wc">
      <span class="weatherLocation">
        <h2>台北</h2>
      </span>
      <button id="weatherTimeBtn" class="btn-primary pull-right now" ng-click="nowFutureToggle()">現在</button>
      <div ng-include="weatherTime.temp"></div>
    </div> 
  </div> 
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h4>你好</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>
    <h4>Sass</h4>
    <p>
      Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
    </p>
    <h4>Bootstrap</h4>
    <p>
      Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
    </p>
    <h4>Modernizr</h4>
    <p>
      Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
    </p>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-3"></div>
</div>